th {
	font-family:Tahoma;
	font-size:20px;
	color:black;
	text-align:center;
}

td {
	font-family:Tahoma;
	font-size:14px;
	color:black;
	text-align:left;
}
table{
	margin: auto;
}
img {
	height:50px;
}

